<!doctype html>
<html>
  <head>
    <title>Calcular Banda</title>
  </head>

  <body>

    <!-- SECCION BANDAS Y EMPALMES -->

    <h2>Calcular precio de banda</h2>

    <h3>Bandas y empalmes</h3>

    <label>Código:</label>
    <select id="codigo"></select><br /><br />

    <label>Largo:</label>
    <input type="number" id="largo" step="0.01" /><br /><br />

    <label>Ancho:</label>
    <input type="number" id="ancho" step="0.01" /><br /><br />

    <br>

    <label>Tipo de empalme:</label>
    <select id="tipoEmpalme">
      <option value="" disabled selected>-- Selecciona tipo --</option>
      <option value="banda-abierta">Banda abierta</option>
      <option value="banda-sin-fin">Banda sin fin</option>
      <option value="extremos-preparados">Extremos preparados</option>
      <option value="grapas">Grapas</option>
    </select>
    <br /><br />

    <label>Código empalme:</label>
    <select id="codigoEmpalme" disabled>
      <option value="" disabled selected>-- Selecciona código --</option>
    </select>
    <br /><br />

    <!-- SECCION PERFILES -->

    <h3>Perfiles</h3>

    <label>Tipo de perfil:</label>
    <select id="tipoPerfilSelect">
      <option value="">-- Seleccionar tipo --</option>
      <option value="longitudinal">Longitudinal</option>
      <option value="transversal">Transversal</option>
    </select>

    <br><br>

    <!-- SECCIÓN PERFILES LONGITUDINALES -->
    <div id="perfilesLongitudinalesSection" style="display: none;">
      <label style="margin-bottom: 20px;">Código perfil longitudinal:</label>
      <select style="margin-bottom: 20px;" id="selectCodigoPerfilLongitudinal">
        <option value="" disabled selected >- Seleccionar -</option>
      </select>
      
      <br>

      <label>Número de perfiles:</label>
      <input type="number" id="nPerfilesLongitudinal" step="0.01" /><br /><br />

      <label>Distancia margen lateral:</label>
      <input type="number" id="margenLongitudinal" step="0.01" /><br /><br />
    </div>

    <!-- SECCIÓN PERFILES TRANSVERSALES -->
    <div id="perfilesTransversalesSection" style="display: none;">
      <label style="margin-bottom: 20px;">Código perfil transversal:</label>
      <select style="margin-bottom: 20px;" id="selectCodigoPerfilTransversal">
        <option value="" disabled selected >- Seleccionar -</option>
      </select>

      <br>

      <label>Ancho del perfil:</label>
      <input type="number" id="anchoPerfilTransversal" step="0.01" /><br /><br />

      <label>Número de perfiles:</label>
      <input type="number" id="nPerfilesTransversal" step="0.01" /><br /><br />

      <label>Número de hileras:</label>
      <input type="number" id="nHileras" step="0.01" /><br /><br />

      <label>Distancia de paso (falta ver si esto se omite):</label>
      <input type="number" id="pasoTransversal" step="0.01" /><br /><br />
    </div>

    <!-- SECCION RUNER -->
    <h3>Runer</h3>
    <label>Código runer:</label>
    <select id="codigoRuner">
      <option value="" disabled selected>-- Selecciona código --</option>
    </select>
    <br /><br />

    <label>Número de perfiles:</label>
      <input type="number" id="nPerfilesRuner" step="0.01" /><br /><br />

    <!-- SECCION PERFORACIONES -->
     <h3>Perforaciones</h3>

    <label>Agujeros por fila:</label>
    <input type="number" id="agujerosPorFila" step="0.01" /><br /><br />

    <label>Filas de agujeros:</label>
    <input type="number" id="filasDeAgujeros" step="0.01" /><br /><br />

    <label>Diámetro:</label>
    <input type="number" id="diametroPerforacion" step="0.01" /><br /><br />

    <!-- SECCION ONDAS -->
     <h3>Ondas</h3>
     <p>- Falta por implementar -</p>

    <!-- SECCION NÚMERO DE BANDAS -->
   <h3>Número de bandas:</h3>
   <input type="number" id="nBandas" step="0.01" /><br /><br />

    <button id="calcular">Calcular</button>
    <button style="margin-left: 10px;"id="limpiar">Limpiar</button>

    <h3 id="resultado"></h3>

    <script src="../js/banda.js"></script>

   


  </body>
</html>
